div{
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.email{
  /*margin-bottom: 20px;*/
}

.user-block{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-bottom: 20px;

}